body {
    background-color: rgb(144, 248, 248);
}
.size {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
    height: 5rem;
    gap: 1.4rem;
}
.radioDiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: 5rem;
}
#sixteen{
    width: 100px;
    height: 50px;
}
#sixtyFour{
    width: 100px;
    height: 50px;
}
#oneTwenty{
    width: 100px;
    height: 50px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reset {
    width: 200px;
    height: 50px;
    margin-top: 3%;
}
.reset:hover{
    cursor: pointer;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    align-content: flex-start;
    background-color: white;
    height: 340px;
    width: 340px;    
    overflow: hidden;
    border: 1px solid black;
}

.etchDiv{
    margin: 0;    
}
.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}
#rainbow {
    width: 200px;
    height: 50px;
    margin-top: 3%;
}

#rainbow:hover{
    cursor: pointer;
}

.standard {
    width: 200px;
    height: 50px;
    margin-top: 3%;
}

.standard:hover{
    cursor: pointer;
}
